#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  border-radius: 10px;
  padding: 20px;
  padding-left: 30px;
  margin: 30px;
  cursor: pointer;
  color: black;
  transition: 0.25s;
}

button {
  flex-direction: row;
  margin-left: 20px;
}

.list:hover {
  background-color: pink;
}

ul a :hover {
  text-decoration: underline;
  color: white;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: bisque;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  cursor: pointer;
  color: black;
}

.details img {
  width: 20rem;
  border-radius: 20px;
}

.details ul li {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px;
  justify-content: flex-start;
  align-items: center;
}

.label {
  margin-right: 5px;
}

div {
  margin-left: 0px
}

/* Now Playing Bar Styling */
.now-playing-bar {
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.playing {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.album-cover {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
}

.song-details {
  margin: 0;
  ;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.song-details li {
  background-color: #222;
  color: white;
  margin: 3px 0;
}

.labels {
  font-weight: bold;
}

.controls {
  display: flex;
  align-items: center;
}